/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset end */



$font-stack:    "Helvetica Neue",Helvetica,Arial,sans-serif;
$red_top_color_bg: #a30000;
$black_top_color_bg: #2c2c2c;


html {
    display: block;
    font-family: $font-stack;
    background-image: url(./background_squares.jpg);
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


a {
  color: #337ab7;
  text-decoration: none;
}

@mixin top-border($height) {
    top: 0;
    font-family: $font-stack;
    height: $height;
    z-index: 9999;
    width: 100%;
    display: block;
    position: relative;
    /* overflow: auto; */
}

@mixin bg-color($color) {
    background: $color;
    background: -moz-linear-gradient(top, color-stop(0%,$color), color-stop(100%,$color));
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color), color-stop(100%,$color));
    background: -webkit-linear-gradient(top, $color 0%,$color 100%);
    background: -o-linear-gradient(top, color-stop(0%,$color), color-stop(100%,$color));
    background: -ms-linear-gradient(top, color-stop(0%,$color), color-stop(100%,$color));
    background: linear-gradient(to bottom, $color 0%,$color 100%);
    -webkit-font-smoothing: subpixel-antialiased !important;
}

.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}


.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  height: 2rem;
  width: 5rem;
}
.btn-secondary {
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}
.float-xs-left {
  float: left!important;
}
.float-xs-right {
  float: right!important;
}



.tooltip {
  top: 12132px;
  left: 121231px;
  display: block;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: $font-stack;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;
  .top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  opacity: 1;
  .top {
    padding: 5px 0;
    margin-top: -3px;
  }
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

#red_line {
    @include top-border(10px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red_top_color_bg', endColorstr='$red_top_color_bg',GradientType=0 );
    @include bg-color($red_top_color_bg);

}

@media only screen and (max-width: 840px) {
    #red_line {
        /*display: none !important;*/
    }
}


#header_title {
     @include top-border(100px);

     vertical-align: middle;
     padding-top: 35px;
     font-size: 31px;
     padding-left: 5%;
     color: #777777;

     @include bg-color($black_top_color_bg);

     span.version {
         color: #585858;
         font-size: 20px;
         font-weight: 900;
     }
     span.versionnumber {
         font-size: 20px;
     }
}
@media only screen and (max-width: 840px) {
    #header_title {
        /*display: none !important;*/
    }
}


#workarea {
  #title {
    font-family: $font-stack;
    font-size: 45px;
    padding-left: 5%;
    margin-top: 77px;
  }
  label {
    background-color: #191919;
    color: #fdfdfd;
    font-size: 18px;
    float: right;
  }
  #dropdown {
    padding: 6px 12px;
    margin-bottom: 0;
    background-color: #428bca;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  #formatselector {
    padding-left: 5%;
    margin-top: 83px;
    background-color: #428bca;
    color: #ffffff;
  }
  #requestget {
    background-color: #f7f7f9;
    border: #e1e1e8 solid 1px;
    border-radius: 3px 3px 3px 3px;
  }
  #response {
    background-color: #f7f7f9;
    border: #e1e1e8 solid 1px;
    border-radius: 3px 3px 3px 3px;
  }
}



